<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Fetching all product</h1>

    <form onsubmit="onSubmitHandler(event)">
        <label for="product">Product name</label>
        <input type="text" id="product" name="productName">
        <button type="submit">Add Product</button>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/product.js"></script>
</body>
</html>